# Tooling caches
.clj-kondo/.cache/
.lsp/.cache/

# Clojure
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# OS
.DS_Store
Thumbs.db

# Claude (local only)
.claude/settings.local.json
